<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shopping.shop.mapper.VisitQuartzMapper">
	<!-- 한달전 데이터 삭제 -->
	<delete id="visitDelete">
		<![CDATA[
			delete from tb_visitor
			where visit_time <= date_sub(now(), interval 1 month)
		]]>
	</delete>
</mapper>